<mat-toolbar color="primary">
  <span>99X Technology | Incubator Dashboard </span>
  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>assessment</mat-icon>
      <span>99XT</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>assessment</mat-icon>
      <span>99XT Incubator </span>
    </button>
  </mat-menu>

</mat-toolbar>
