<div class="container">
    <h1 class="display-5"> Contributor's Dashboard</h1>
    
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> 99xT
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option2" autocomplete="off"> 99xT Incubator
        </label>

      </div>

      <table class="table">
        <thead class="table-warning">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Points</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>@Otto</td>
            <td>2000</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>@Thornton</td>
            <td>1960</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>@theBird</td>
            <td>1730</td>
          </tr>
        </tbody>
      </table>
</div>
